@import "../../scss/variables.scss";

.header__preview {
  background-image: url(../../assets/preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 813px;
  min-height: 100%;

  background-color: #ecb200;
}

.header {
  &__inner {
    position: relative;
  }

  &__btn_load {
    position: absolute;
    background: #e63000;
    border-radius: 46px;
    text-transform: uppercase;
    border: 10px solid #ededed;
    padding: 15px 60px;
    cursor: pointer;
    top: 771px;

    left: 50%;

    transform: translateX(-50%);

    font-size: 16px;
    line-height: 21px;
    font-family: "PFDin Medium";
    color: #ffffff;
    &:hover {
      background: #ca2a00;
      filter: drop-shadow(0px 0px 37px #e7e7e7);
    }
  }
  &__content {
    background-color: #ecb200;
  }
  &__title {
    font-family: "PFDin Medium";
    font-size: 60px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: $thirdly;
    text-shadow: -2px 4px 0px rgba(255, 255, 255, 1);
  }
  &__block {
    padding-top: 116px;
    background-color: #ecb200;
  }
  &__content_list {
    display: flex;
  }
  &__content_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      background-image: url("../../assets/arrow.svg");
      width: 21px;
      height: 45px;
      top: 0;
      right: 0;
    }
  }
  &__content_text {
    text-align: center;
  }
}
