@import "../../scss/variables.scss";

.header__preview {
  background-image: url(../../assets/preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 813px;
  min-height: 100%;
  margin-bottom: 106px;
  background-color: red;
}

.header {
  &__inner {
    position: relative;
  }

  &__btn_load {
    position: absolute;
    background: #e63000;
    border-radius: 46px;
    text-transform: uppercase;
    border: 10px solid #ededed;
    padding: 15px 60px;
    cursor: pointer;
    top: 771px;

    left: 50%;

    transform: translateX(-50%);

    font-size: 16px;
    line-height: 21px;
    font-family: "PFDin Medium";
    color: #ffffff;
    &:hover {
      background: #ca2a00;
      filter: drop-shadow(0px 0px 37px #e7e7e7);
    }
  }
  &__content {
    background: linear-gradient(180deg, #ecb200 0%, #ffcf00 78.83%);
  }
  &__title {
    font-family: "PFDin Medium";
    font-size: 60px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: $thirdly;
    box-shadow: 10px 5px 5px #ffffff;
  }
}
